
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

.info {
    margin-top: 30px;
}

.bi {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}

.bh {
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    vertical-align: middle;
}
/*
.stickbottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}*/